.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    .card{
        flex-grow: 1;
        flex-basis: 15rem;
        max-width:25rem;
        border-radius: 0.75rem;
        padding: 0.75rem 1rem;
        background-color: rgb(80, 78, 78);
        color: rgb(240, 239, 239);
        display: flex;
        flex-direction: column;
        gap:1rem;
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
        }
        .desc{
            opacity: 0.7;
            word-spacing: 0.4rem;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            gap:1rem;
            .tag{
                width: fit-content;
                padding: 0.75rem 1rem;
                background-color: rgb(196, 3, 255);
                white-space: nowrap;
                border-radius: 0.75rem;
            }
        }
        .url{
            width: 100%;
            display: flex;
            padding: 0.75rem 0.5rem;
            justify-content: space-between;
            a{
                color:white;
                text-decoration: none;
                cursor: pointer;
            }
        }

    }
}
