.windows{
    height:100%;
    background-color: black;
    border-radius: 0.75rem;
    overflow: hidden;
    color:white;

    .nav{
        padding: 0.75rem 0.5rem;
        display: flex;
        gap:1rem;
        align-items: center;
        border-bottom: 0.1rem solid rgb(76, 75, 75);
        .dots{

            display: flex;
            gap:0.25rem;
            .dot{
                height: 1.2rem;
                width: 1.2rem;
                background-color: white;
                border-radius: 50%;
                cursor: pointer;
            }

            .red{
                background-color: rgb(253, 15, 15);
                cursor: pointer;
            }
            .yellow{
                background-color: yellow;
            }
            .green{
                background-color: rgb(20, 246, 20);
            }
        }
        .title{
            color:white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
        }
    }
    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: gray;
        border-radius: 10px;
    }
}