.Dock{
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    background-color: rgba(184, 184, 184, 0.204);
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(10px);
    gap:0.75rem;
}
.icon{
    padding: 0.65rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;

    width: 3.75;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon:hover{
    transform: scale(1.25) translateY(-20%);
    cursor: pointer;
}

.icon:hover + .icon{
    transform: scale(1.1) translateY(-10%);
}

.icon:has(+ .icon:hover){
    transform: scale(1.1) translateY(-10%);
}



.github{
    background-color: black;
}
.pdf{
    background: linear-gradient(to bottom,rgb(239, 76, 76),rgb(218, 36, 36));
}
.note{
    background: linear-gradient(to bottom, rgb(240, 165, 73),rgb(253, 156, 0));
}
.calender{
    background: linear-gradient(to bottom,rgb(80, 80, 225),rgb(8, 8, 195));
}
.spotify{
    background: linear-gradient(to bottom,rgb(9, 237, 9),rgb(3, 167, 3));
}
.cli{
    background-color: black;
}
.mail{
    background: linear-gradient(to bottom,rgb(0, 174, 255),rgb(32, 131, 218));
}
.link{
    background: linear-gradient(to bottom ,rgb(231, 94, 231),rgb(231, 18, 231));
}
